*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: dodgerblue;
}
.container{
    width: 650px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    transform: perspective(900px) rotateY(-30deg);
}
.card{
    background-color: white;
}